In [4]:
import boto3
import json, uuid, copy, datetime
import random, names, tabulate
import pandas as pd

In [ ]:
# open_cmd_in_new_terminal("docker-compose up")
!gnome-terminal -- docker-compose up

In [1]:
!./setuprds.sh
!./setupdynamo.sh

Setting up users
CREATE ROLE
CREATE ROLE
CREATE ROLE
Setting up account ledger in RDS local
CREATE SCHEMA
CREATE TABLE
CREATE INDEX
CREATE INDEX
REVOKE
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
Setting up transaction ledger in RDS local
CREATE SCHEMA
CREATE TABLE
REVOKE
GRANT
GRANT
GRANT
GRANT
GRANT
Setting up float ledger in RDS local
CREATE SCHEMA
CREATE TABLE
REVOKE
GRANT
GRANT
GRANT
GRANT
GRANT
GRANT
Creating the DynamoDB table that holds the client floats
{
    "StackId": "arn:aws:cloudformation:us-east-1:123456789:stack/client-float-table/9cbbf9fe-b2a4-429a-95af-efce442d4a43"
}
Adding in item for core, ZAR wholesale float

In [ ]:
!./deploylambdas.sh

In [5]:
dynamodb = boto3.client('dynamodb', endpoint_url = 'http://localhost:4569')
local_lambda = boto3.client('lambda', endpoint_url = 'http://localhost:4574')

In [6]:
def print_deployed_functions():
    function_list = local_lambda.list_functions()
    # print(function_list)
    print('Function list: ', [function['FunctionName'] for function in function_list['Functions']])

In [ ]:
def generate_account(client_id = 'zar_client_co', float_id = 'zar_cash_float'):
    first_name = names.get_first_name()
    family_name = names.get_last_name()
    user_id = str(uuid.uuid4())
    return { 'clientId': client_id, 'floatId': float_id, 'ownerUserId': user_id, 'userFirstName': first_name, 'userFamilyName': family_name}

In [ ]:
def decode_lambda_result(lambda_result):
    lambda_payload = lambda_result['Payload'].read()
    lambda_pload_decoded = lambda_payload.decode('utf-8')
    lambda_pload_object = json.loads(lambda_pload_decoded)
    return lambda_pload_object

In [ ]:
def create_number_accounts(number_accounts = 1, client_id = 'zar_client_co'):
    account_dicts = [generate_account(client_id) for i in range(number_accounts)]
    persisted_accounts = []
    for account in account_dicts:
        lambda_result = local_lambda.invoke(FunctionName='create-account', InvocationType='RequestResponse', 
                                           Payload=json.dumps(account))
        lambda_payload = json.loads(decode_lambda_result(lambda_result)['body'])
        persisted_account = copy.deepcopy(account)
        persisted_account['accountId'] = lambda_payload['accountId']
        persisted_account['persistedTime'] = lambda_payload['persistedTime']
        print('Account with ID %s persisted at %s' % (persisted_account['accountId'], persisted_account['persistedTime']))
        persisted_accounts.append(persisted_account)
    
    return persisted_accounts

In [ ]:
def generate_saving_transaction(account_id, ref_amount = 100, float_id = 'zar_cash_primary'):
    current_time = datetime.datetime.now()
    saved_amount = round(random.random() * ref_amount * 10 * 10) # random proportion of ref amount, 
    test_saving_dict = { 
        'accountId': account_id, 
        'initiationTime': str(current_time), 
        'settlementTime': str(current_time), 
        'savedAmount': saved_amount, 
        'savedCurrency': 'ZAR', 
        'savedUnit': 'HUNDREDTH_CENT',
        'floatId': float_id
    }
    return test_saving_dict

In [ ]:
def seed_savings_for_accounts(accounts, tx_per_account = 1, base_amount = 100):
    transactions = []
    for i in range(tx_per_account):
        transactions.extend([generate_saving_transaction(account['accountId'], base_amount) for account in accounts])
#     print('transactions: ', transactions)
    tx_records = []
    for tx in transactions:
        lambda_result = local_lambda.invoke(FunctionName='add-savings', InvocationType='RequestResponse', 
                                           Payload=json.dumps(tx, default=str))
        lambda_payload = json.loads(decode_lambda_result(lambda_result)['body'])
        persisted_tx = copy.deepcopy(tx)
        persisted_tx['transactionId'] = lambda_payload['transactionDetails'][0][0]['transaction_id']
        persisted_tx['currentBalance'] = lambda_payload['newBalance']
        # persisted_account['persistedTime'] = lambda_payload['persistedTime']
        print('Tx for account %s persisted with new balance %s' % (tx['accountId'], persisted_tx['currentBalance']))
        tx_records.append(persisted_tx)
    
    return tx_records

In [ ]:
print_deployed_functions()

In [ ]:
accounts = create_number_accounts(number_accounts = 1)

In [ ]:
account_info = [{ 'Name': account['userFirstName'] + ' ' + account['userFamilyName'], 
                'AccountId': account['accountId'] } for account in accounts[:100]]
print(tabulate.tabulate(account_info, headers = 'keys'))

In [ ]:
single_tx = generate_saving_transaction(accounts[0]['accountId'], 100)
lambda_result = local_lambda.invoke(FunctionName='add-savings', Payload=json.dumps(single_tx, default=str))
result_decoded = decode_lambda_result(lambda_result)
print('Lambda result', result_decoded)

In [ ]:
account_balances = seed_savings_for_accounts(accounts[:100], tx_per_account = 3, base_amount = 100 * 100 * 100)

In [ ]:
def merge_dataframes(accounts, account_balances):
    df = pd.DataFrame(account_balances)
    df = df[df['currentBalance'] == df.groupby('accountId')['currentBalance'].transform('max')]
    df = df[['accountId', 'currentBalance']]
    df['currentBalance'] = pd.to_numeric(df['currentBalance'])
    df['balanceRand'] = df['currentBalance']/10000
    account_name_df = pd.DataFrame(accounts)[['accountId', 'floatId', 'userFamilyName', 'userFirstName']]
    account_name_df['Holder Name'] = account_name_df['userFirstName'] + ' ' + account_name_df['userFamilyName']
    account_name_df.set_index('accountId')
    df.set_index('accountId')
    merged_df = pd.merge(account_name_df, df)[['accountId', 'floatId', 'Holder Name', 'balanceRand']]
    return merged_df

In [ ]:
merged_df = merge_dataframes(accounts, account_balances)

In [ ]:
merged_df

In [7]:
accrualDict = {
    'clientId': 'zar_client_co',
    'floatId': 'zar_cash_float',
    'accrualAmount': 100 * 100 * 100,
    'currency': 'ZAR',
    'unit': 'HUNDREDTH_CENT',
    'backingEntityIdentifier': 'tx-id-backing'
}
local_lambda.invoke(FunctionName='float-api-local-accrue', InvocationType='RequestResponse', 
                                           Payload=json.dumps(accrualDict, default=str))

ClientError: An error occurred (InternalFailure) when calling the Invoke operation (reached max retries: 4): Error executing Lambda function arn:aws:lambda:eu-west-1:000000000000:function:float-api-local-accrue: Lambda process returned error status code: 1. Output:
START RequestId: 876cddd5-82f4-10c9-681d-70baf392976a Version: $LATEST
2019-05-31T15:26:20.235Z pluto:dynamo:main Set endpoint for DynamoDB:  http://172.17.0.1:4569
2019-05-31T15:26:20.278Z pluto:float:handler Initiated execution, attempting to reach DynamoDB ...
2019-05-31T15:26:20.280Z pluto:dynamo:main Transformed key:  { client_id: 'zar_client_co', float_id: 'zar_cash_float' }
2019-05-31T15:26:20.281Z pluto:dynamo:main Passing parameters to docClient:  { TableName: 'ClientFloatTable',
  Key: { client_id: 'zar_client_co', float_id: 'zar_cash_float' },
  ProjectionExpression: 'bonus_pool_share_of_accrual, bonus_pool_system_wide_id, client_share_of_accrual, client_share_of_system_wide_id' }
2019-05-31T15:26:20.281Z pluto:dynamo:main Table name for DynamoDB ? : ClientFloatTable
2019-05-31T15:26:20.335Z pluto:dynamo:main Retrieved result:  { Item:
   { client_share_of_accrual: 0.1,
     bonus_pool_system_wide_id: 'zar_cash_bonus_pool',
     bonus_pool_share_of_accrual: 0.1 } }
2019-05-31T15:26:20.336Z pluto:float:dynamo Fetched config var row from dynamo:  { clientShareOfAccrual: 0.1,
  bonusPoolSystemWideId: 'zar_cash_bonus_pool',
  bonusPoolShareOfAccrual: 0.1 }
2019-05-31T15:26:20.337Z pluto:float:handler Fetched float config:  { bonusPoolShare: 0.1,
  bonusPoolTracker: 'zar_cash_bonus_pool',
  clientCoShare: 0.1,
  clientCoShareTracker: undefined }
2019-05-31T15:26:20.337Z pluto:float:handler Calculating an apportionment, total pool : 1000000, and share: 0.1
2019-05-31T15:26:20.338Z pluto:float:handler Result of calculation: 100000
2019-05-31T15:26:20.338Z pluto:float:handler Calculating an apportionment, total pool : 1000000, and share: 0.1
2019-05-31T15:26:20.338Z pluto:float:handler Result of calculation: 100000
2019-05-31T15:26:20.338Z pluto:float:handler Company allocation:  { currency: 'ZAR',
  unit: 'HUNDREDTH_CENT',
  relatedEntityType: 'ACCRUAL_EVENT',
  relatedEntityId: 'tx-id-backing',
  label: 'CLIENT',
  amount: 100000,
  allocatedToType: 'COMPANY_SHARE',
  allocatedToId: undefined }
2019-05-31T15:26:20.339Z pluto:rds-common:main Template:  ${transaction_id}, ${client_id}, ${float_id}, ${t_type}, ${currency}, ${unit}, ${amount}, ${allocated_to_type}, ${allocated_to_id}, ${related_entity_type}, ${related_entity_id}
2019-05-31T15:26:20.340Z pluto:rds-common:main Split items:  [ '${transaction_id}',
  '${client_id}',
  '${float_id}',
  '${t_type}',
  '${currency}',
  '${unit}',
  '${amount}',
  '${allocated_to_type}',
  '${allocated_to_id}',
  '${related_entity_type}',
  '${related_entity_id}' ]
2019-05-31T15:26:20.340Z pluto:rds-common:main Map:  [ { type: 'PARAM', value: 'transaction_id' },
  { type: 'PARAM', value: 'client_id' },
  { type: 'PARAM', value: 'float_id' },
  { type: 'PARAM', value: 't_type' },
  { type: 'PARAM', value: 'currency' },
  { type: 'PARAM', value: 'unit' },
  { type: 'PARAM', value: 'amount' },
  { type: 'PARAM', value: 'allocated_to_type' },
  { type: 'PARAM', value: 'allocated_to_id' },
  { type: 'PARAM', value: 'related_entity_type' },
  { type: 'PARAM', value: 'related_entity_id' } ]
2019-05-31T15:26:20.340Z pluto:rds-common:main For template ${transaction_id}, ${client_id}, ${float_id}, ${t_type}, ${currency}, ${unit}, ${amount}, ${allocated_to_type}, ${allocated_to_id}, ${related_entity_type}, ${related_entity_id}, and objects [{"transaction_id":"83a7abe5-aa80-4a9a-a71d-a56c2628e73f","client_id":"zar_client_co","float_id":"zar_cash_float","currency":"ZAR","unit":"HUNDREDTH_CENT","amount":1000000,"allocated_to_type":"FLOAT_ITSELF","allocated_to_id":"zar_cash_float","related_entity_id":"tx-id-backing"}], have nested array [["83a7abe5-aa80-4a9a-a71d-a56c2628e73f","zar_client_co","zar_cash_float",null,"ZAR","HUNDREDTH_CENT",1000000,"FLOAT_ITSELF","zar_cash_float",null,"tx-id-backing"]]
2019-05-31T15:26:20.340Z pluto:rds-common:main SINGLE: Nested array:  [ [ '83a7abe5-aa80-4a9a-a71d-a56c2628e73f',
    'zar_client_co',
    'zar_cash_float',
    undefined,
    'ZAR',
    'HUNDREDTH_CENT',
    1000000,
    'FLOAT_ITSELF',
    'zar_cash_float',
    undefined,
    'tx-id-backing' ] ]
2019-05-31T15:26:20.341Z pluto:rds-common:main SINGLE: Formatted query:  insert into float_data.float_transaction_ledger (transaction_id, client_id, float_id, t_type, currency, unit, amount, allocated_to_type, allocated_to_id, related_entity_type, related_entity_id) values ('83a7abe5-aa80-4a9a-a71d-a56c2628e73f', 'zar_client_co', 'zar_cash_float', NULL, 'ZAR', 'HUNDREDTH_CENT', '1000000', 'FLOAT_ITSELF', 'zar_cash_float', NULL, 'tx-id-backing') returning transaction_id
2019-05-31T15:26:20.351Z pluto:rds-common:main Error running insertion:  { error: null value in column "t_type" violates not-null constraint
    at Connection.parseE (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:602:11)
    at Connection.parseMessage (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:399:19)
    at Socket.<anonymous> (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:121:22)
    at emitOne (events.js:116:13)
    at Socket.emit (events.js:211:7)
    at addChunk (_stream_readable.js:263:12)
    at readableAddChunk (_stream_readable.js:250:11)
    at Socket.Readable.push (_stream_readable.js:208:10)
    at TCP.onread (net.js:607:20)
  name: 'error',
  length: 378,
  severity: 'ERROR',
  code: '23502',
  detail: 'Failing row contains (83a7abe5-aa80-4a9a-a71d-a56c2628e73f, 2019-05-31 15:26:20.349842+00, zar_client_co, zar_cash_float, null, ZAR, HUNDREDTH_CENT, 1000000, FLOAT_ITSELF, zar_cash_float, null, tx-id-backing).',
  hint: undefined,
  position: undefined,
  internalPosition: undefined,
  internalQuery: undefined,
  where: undefined,
  schema: 'float_data',
  table: 'float_transaction_ledger',
  column: 't_type',
  dataType: undefined,
  constraint: undefined,
  file: 'execMain.c',
  line: '2042',
  routine: 'ExecConstraints' }
2019-05-31T15:26:20.354Z	876cddd5-82f4-10c9-681d-70baf392976a	{"errorMessage":"Query 'insert into float_data.float_transaction_ledger (transaction_id, client_id, float_id, t_type, currency, unit, amount, allocated_to_type, allocated_to_id, related_entity_type, related_entity_id) values %L returning transaction_id, with values undefined failed on commit","errorType":"CommitError","stackTrace":["RdsConnection.insertRecords (/var/task/node_modules/rds-common/index.js:112:19)","<anonymous>","process._tickDomainCallback (internal/process/next_tick.js:228:7)"]}
END RequestId: 876cddd5-82f4-10c9-681d-70baf392976a
REPORT RequestId: 876cddd5-82f4-10c9-681d-70baf392976a	Duration: 325.86 ms	Billed Duration: 400 ms	Memory Size: 1536 MB	Max Memory Used: 49 MB	 Traceback (most recent call last):
  File "/opt/code/localstack/localstack/services/awslambda/lambda_api.py", line 313, in run_lambda
    event, context=context, version=version, asynchronous=asynchronous)
  File "/opt/code/localstack/localstack/services/awslambda/lambda_executors.py", line 58, in execute
    result, log_output = self._execute(func_arn, func_details, event, context, version, asynchronous)
  File "/opt/code/localstack/localstack/services/awslambda/lambda_executors.py", line 200, in _execute
    result, log_output = self.run_lambda_executor(cmd, environment, asynchronous)
  File "/opt/code/localstack/localstack/services/awslambda/lambda_executors.py", line 133, in run_lambda_executor
    (return_code, log_output))
Exception: Lambda process returned error status code: 1. Output:
START RequestId: 876cddd5-82f4-10c9-681d-70baf392976a Version: $LATEST
2019-05-31T15:26:20.235Z pluto:dynamo:main Set endpoint for DynamoDB:  http://172.17.0.1:4569
2019-05-31T15:26:20.278Z pluto:float:handler Initiated execution, attempting to reach DynamoDB ...
2019-05-31T15:26:20.280Z pluto:dynamo:main Transformed key:  { client_id: 'zar_client_co', float_id: 'zar_cash_float' }
2019-05-31T15:26:20.281Z pluto:dynamo:main Passing parameters to docClient:  { TableName: 'ClientFloatTable',
  Key: { client_id: 'zar_client_co', float_id: 'zar_cash_float' },
  ProjectionExpression: 'bonus_pool_share_of_accrual, bonus_pool_system_wide_id, client_share_of_accrual, client_share_of_system_wide_id' }
2019-05-31T15:26:20.281Z pluto:dynamo:main Table name for DynamoDB ? : ClientFloatTable
2019-05-31T15:26:20.335Z pluto:dynamo:main Retrieved result:  { Item:
   { client_share_of_accrual: 0.1,
     bonus_pool_system_wide_id: 'zar_cash_bonus_pool',
     bonus_pool_share_of_accrual: 0.1 } }
2019-05-31T15:26:20.336Z pluto:float:dynamo Fetched config var row from dynamo:  { clientShareOfAccrual: 0.1,
  bonusPoolSystemWideId: 'zar_cash_bonus_pool',
  bonusPoolShareOfAccrual: 0.1 }
2019-05-31T15:26:20.337Z pluto:float:handler Fetched float config:  { bonusPoolShare: 0.1,
  bonusPoolTracker: 'zar_cash_bonus_pool',
  clientCoShare: 0.1,
  clientCoShareTracker: undefined }
2019-05-31T15:26:20.337Z pluto:float:handler Calculating an apportionment, total pool : 1000000, and share: 0.1
2019-05-31T15:26:20.338Z pluto:float:handler Result of calculation: 100000
2019-05-31T15:26:20.338Z pluto:float:handler Calculating an apportionment, total pool : 1000000, and share: 0.1
2019-05-31T15:26:20.338Z pluto:float:handler Result of calculation: 100000
2019-05-31T15:26:20.338Z pluto:float:handler Company allocation:  { currency: 'ZAR',
  unit: 'HUNDREDTH_CENT',
  relatedEntityType: 'ACCRUAL_EVENT',
  relatedEntityId: 'tx-id-backing',
  label: 'CLIENT',
  amount: 100000,
  allocatedToType: 'COMPANY_SHARE',
  allocatedToId: undefined }
2019-05-31T15:26:20.339Z pluto:rds-common:main Template:  ${transaction_id}, ${client_id}, ${float_id}, ${t_type}, ${currency}, ${unit}, ${amount}, ${allocated_to_type}, ${allocated_to_id}, ${related_entity_type}, ${related_entity_id}
2019-05-31T15:26:20.340Z pluto:rds-common:main Split items:  [ '${transaction_id}',
  '${client_id}',
  '${float_id}',
  '${t_type}',
  '${currency}',
  '${unit}',
  '${amount}',
  '${allocated_to_type}',
  '${allocated_to_id}',
  '${related_entity_type}',
  '${related_entity_id}' ]
2019-05-31T15:26:20.340Z pluto:rds-common:main Map:  [ { type: 'PARAM', value: 'transaction_id' },
  { type: 'PARAM', value: 'client_id' },
  { type: 'PARAM', value: 'float_id' },
  { type: 'PARAM', value: 't_type' },
  { type: 'PARAM', value: 'currency' },
  { type: 'PARAM', value: 'unit' },
  { type: 'PARAM', value: 'amount' },
  { type: 'PARAM', value: 'allocated_to_type' },
  { type: 'PARAM', value: 'allocated_to_id' },
  { type: 'PARAM', value: 'related_entity_type' },
  { type: 'PARAM', value: 'related_entity_id' } ]
2019-05-31T15:26:20.340Z pluto:rds-common:main For template ${transaction_id}, ${client_id}, ${float_id}, ${t_type}, ${currency}, ${unit}, ${amount}, ${allocated_to_type}, ${allocated_to_id}, ${related_entity_type}, ${related_entity_id}, and objects [{"transaction_id":"83a7abe5-aa80-4a9a-a71d-a56c2628e73f","client_id":"zar_client_co","float_id":"zar_cash_float","currency":"ZAR","unit":"HUNDREDTH_CENT","amount":1000000,"allocated_to_type":"FLOAT_ITSELF","allocated_to_id":"zar_cash_float","related_entity_id":"tx-id-backing"}], have nested array [["83a7abe5-aa80-4a9a-a71d-a56c2628e73f","zar_client_co","zar_cash_float",null,"ZAR","HUNDREDTH_CENT",1000000,"FLOAT_ITSELF","zar_cash_float",null,"tx-id-backing"]]
2019-05-31T15:26:20.340Z pluto:rds-common:main SINGLE: Nested array:  [ [ '83a7abe5-aa80-4a9a-a71d-a56c2628e73f',
    'zar_client_co',
    'zar_cash_float',
    undefined,
    'ZAR',
    'HUNDREDTH_CENT',
    1000000,
    'FLOAT_ITSELF',
    'zar_cash_float',
    undefined,
    'tx-id-backing' ] ]
2019-05-31T15:26:20.341Z pluto:rds-common:main SINGLE: Formatted query:  insert into float_data.float_transaction_ledger (transaction_id, client_id, float_id, t_type, currency, unit, amount, allocated_to_type, allocated_to_id, related_entity_type, related_entity_id) values ('83a7abe5-aa80-4a9a-a71d-a56c2628e73f', 'zar_client_co', 'zar_cash_float', NULL, 'ZAR', 'HUNDREDTH_CENT', '1000000', 'FLOAT_ITSELF', 'zar_cash_float', NULL, 'tx-id-backing') returning transaction_id
2019-05-31T15:26:20.351Z pluto:rds-common:main Error running insertion:  { error: null value in column "t_type" violates not-null constraint
    at Connection.parseE (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:602:11)
    at Connection.parseMessage (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:399:19)
    at Socket.<anonymous> (/var/task/node_modules/rds-common/node_modules/pg/lib/connection.js:121:22)
    at emitOne (events.js:116:13)
    at Socket.emit (events.js:211:7)
    at addChunk (_stream_readable.js:263:12)
    at readableAddChunk (_stream_readable.js:250:11)
    at Socket.Readable.push (_stream_readable.js:208:10)
    at TCP.onread (net.js:607:20)
  name: 'error',
  length: 378,
  severity: 'ERROR',
  code: '23502',
  detail: 'Failing row contains (83a7abe5-aa80-4a9a-a71d-a56c2628e73f, 2019-05-31 15:26:20.349842+00, zar_client_co, zar_cash_float, null, ZAR, HUNDREDTH_CENT, 1000000, FLOAT_ITSELF, zar_cash_float, null, tx-id-backing).',
  hint: undefined,
  position: undefined,
  internalPosition: undefined,
  internalQuery: undefined,
  where: undefined,
  schema: 'float_data',
  table: 'float_transaction_ledger',
  column: 't_type',
  dataType: undefined,
  constraint: undefined,
  file: 'execMain.c',
  line: '2042',
  routine: 'ExecConstraints' }
2019-05-31T15:26:20.354Z	876cddd5-82f4-10c9-681d-70baf392976a	{"errorMessage":"Query 'insert into float_data.float_transaction_ledger (transaction_id, client_id, float_id, t_type, currency, unit, amount, allocated_to_type, allocated_to_id, related_entity_type, related_entity_id) values %L returning transaction_id, with values undefined failed on commit","errorType":"CommitError","stackTrace":["RdsConnection.insertRecords (/var/task/node_modules/rds-common/index.js:112:19)","<anonymous>","process._tickDomainCallback (internal/process/next_tick.js:228:7)"]}
END RequestId: 876cddd5-82f4-10c9-681d-70baf392976a
REPORT RequestId: 876cddd5-82f4-10c9-681d-70baf392976a	Duration: 325.86 ms	Billed Duration: 400 ms	Memory Size: 1536 MB	Max Memory Used: 49 MB